consul = "consul.tokopedia.local:8500"

log_level = "warn"

template {
  // consul template to run
  source      = "/var/consul/template/wp.ctmpl"

  // consul output file to be updated with template run output
  destination = "/opt/compose-file/wp/.env"

  // commands to be executed after the destination file is updated. please look at it carefully.
  command = "cd /opt/compose-file/wp/ && echo \"Consul template updated\""

  // this is by default 30s
  command_timeout = "90s"
}
