# local volume for DB, some stuff no need to pushed
backup/mysql/volume
vendor

# local env
.env

# db store
.DS_Store

# content
wp-content/uploads/**
wp-content/cache/**

# default compose
docker-compose.yml

# default WP engine
wp-content/updraft/**
wp-content/uploads/**
wp-content/languages/**
wp-content/w3tc-config/**
wp-content/aiowps_backups/**
wp-content/plugins/akismet/**
wp-content/plugins/hello.php
wp-content/themes/twentynineteen/**
wp-content/themes/twentyseventeen/**
wp-content/themes/twentysixteen/**