version: '3.1'

services:
  tkpwp_mysql:
    image: mysql:5.7
    container_name: tkpwp_mysql
    restart: always
    volumes:
      - tkpwp_mysql_backup:/docker-entrypoint-initdb.d
      - tkpwp_mysql_data:/var/lib/mysql
    env_file:
      - ./.env

  tkpwp_app:
    image: prakasa1904/wp-environment:latest
    container_name: tkpwp_app
    depends_on:
      - tkpwp_mysql
    restart: always
    volumes:
      - ./config/php.conf.ini:/usr/local/etc/php/conf.d/conf.ini
      - ./.env:/var/www/html/.env
      - ./wp-config.php:/var/www/html/wp-config.php
      - ./wp-content:/var/www/html/wp-content
    ports:
      - 8080:80
  
  tkpwp_nginx:
    image: nginx
    container_name: tkpwp_nginx
    depends_on:
      - tkpwp_app
    volumes:
      - ./files/etc/nginx/development/nginx.conf:/etc/nginx/nginx.conf
      - ./files/etc/nginx/development/default.conf:/etc/nginx/conf.d/default.conf
    restart: always
    ports:
      - 80:80
    logging:
      driver: "json-file"
      options:
        max-size: "1m"

volumes:
  tkpwp_mysql_backup:
    driver: local
    driver_opts:
      type: none
      device: $PWD/backup/mysql/restore
      o: bind
  tkpwp_mysql_data:
    driver: local
    driver_opts:
      type: none
      device: $PWD/backup/mysql/volume
      o: bind
