version: '3.1'

services:
  tkpwp_mysql:
    image: mysql:5.7
    container_name: tkpwp_mysql
    restart: always
    volumes:
      - tkpwp_mysql_backup:/docker-entrypoint-initdb.d
      - tkpwp_mysql_data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: tkpwpdb
      MYSQL_ROOT_PASSWORD: passworddbdevelopment
  
  tkpwp_adminer:
    image: adminer
    container_name: tkpwp_adminer
    restart: always
    ports:
      - 9100:8080
    environment:
      - ADMINER_DEFAULT_SERVER=tkpwp_mysql

  tkpwp_app:
    image: wordpress
    container_name: tkpwp_app
    depends_on:
      - tkpwp_mysql
    restart: always
    volumes:
      - ./wp-content:/var/www/html/wp-content
    ports:
      - 8080:80
    environment:
      WORDPRESS_DB_HOST: tkpwp_mysql
      WORDPRESS_DB_NAME: tkpwpdb
      WORDPRESS_DB_PASSWORD: passworddbdevelopment
  
  tkpwp_nginx:
    image: nginx
    container_name: tkpwp_nginx
    depends_on:
      - tkpwp_app
      - tkpwp_adminer
    volumes:
      - ./files/etc/nginx/development/nginx.conf:/etc/nginx/nginx.conf
      - ./files/etc/nginx/development/default.conf:/etc/nginx/conf.d/default.conf
    restart: always
    ports:
      - 80:80
    logging:
      driver: "json-file"
      options:
        max-size: "1m"

volumes:
  tkpwp_mysql_backup:
    driver: local
    driver_opts:
      type: none
      device: $PWD/backup/mysql/restore
      o: bind
  tkpwp_mysql_data:
    driver: local
    driver_opts:
      type: none
      device: $PWD/backup/mysql/volume
      o: bind